<span style="color: red;">1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].</span>

In [1]:
yob = int(input("Enter year of birth"))
years_list = []
if type(yob)==int:
    for i in range(yob,yob+6):
        years_list.append(i)
print(years_list)

Enter year of birth1997
[1997, 1998, 1999, 2000, 2001, 2002]

<span style="color: red;">2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.</span>

In [2]:
years_list[3]

2000

<span style="color: red;">3.In the years list, which year were you the oldest?</span>

In [4]:
years_list[-1]

2002

<span style="color: red;">4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".</span>

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

<span style="color: red;">5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?</span>

In [6]:
things[1].capitalize()

'Cinderella'

In [8]:
things

['mozzarella', 'cinderella', 'salmonella']

In [9]:
#no it did not changed the element in the list

<span style="color: red;">6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."</span>

In [19]:
surprise_list = ["Groucho" ,"Chico" ,"Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

<span style="color: red;">7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.</span>

In [22]:
surprise_1 = []
for i in surprise_list:
    if i!=surprise_list[-1]:
        surprise_1.append(i)
    else:
        b = i.lower()
        c = b[::-1]
        d = c.capitalize()
            
        surprise_1.append(d)
surprise_list=surprise_1
surprise_list

['Groucho', 'Chico', 'Oprah']

<span style="color: red;">8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.</span>

In [23]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

<span style="color: red;">9. Write the French word for walrus in your three-word dictionary e2f.</span>

In [26]:
e2f.get("walrus")

'morse'

<span style="color: red;">10. Make a French-to-English dictionary called f2e from e2f. Use the items method.</span>

In [27]:
f2e = dict([ele[::-1] for ele in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

<span style="color: red;">11. Print the English version of the French word chien using f2e.</span>

In [29]:
f2e.get("chien")

'dog'

<span style="color: red;">12. Make and print a set of English words from the keys in e2f.</span>

In [32]:
list(e2f.keys())

['dog', 'cat', 'walrus']

<span style="color: red;">13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.</span>

In [33]:
life = { 'animals' : { 'cats' : [ 'Henri', 'Grumpy', 'Lucy' ], 'octopi' : {}, 'emus' : {}  }, 'plants' : {}, 'other' : {} }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

<span style="color: red;">14. Print the top-level keys of life.</span>

In [34]:
print(list(life.keys()))

['animals', 'plants', 'other']

<span style="color: red;">15. Print the keys for life['animals'].</span>

In [36]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

<span style="color: red;">
16. Print the values for life['animals']['cats']</span>

In [37]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']